<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h2>h3 Subtitle</h2>
<h2>h4 Subtitle</h2>
<h2>h5 Subtitle</h2>
<h2>h6 Subtitle</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, natus unde
  possimus, veniam illo eligendi repudiandae nostrum beatae qui tempora cum!
  Similique iste, autem quis tempora nisi et molestias repudiandae. Consequuntur
  consequatur fugit, aut earum libero officia dolore fugiat a tempora
  consectetur, obcaecati, minima omnis amet quam laudantium exercitationem.
  Enim?
</p>

<a class="app-a">Link 1</a>
<a class="app-a">Link 1 2 </a>
<a class="app-a">Link 1 3 </a>

<button class="app-button">Button</button>

<h3>Code</h3>
<code>const parameter = 42;</code>

<h3>Input</h3>
<input type="text" class="app-input" placeholder="demo input" />

<h2>Mixins</h2>

<h3>Shadow Mixin</h3>

<div class="shadow">Shadow Mixin</div>

<div class="card">Card Mixin</div>
