$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000;

$primary: #02eed3;
$primary-dark: #00794d;
$primary-light: #d6fbf6;
$on-primary: #fff;

$secondary: #fff1b2;
$secondary-dark: #ff9c00;
$secondary-ligth: #fffae1;
$on-secondary: #000;

$error: #ea0000;
$on-error: #fff;

$success: #008000;
$on-success: #fff;
