@import "reset";

@import "colors";
@import "mixins";
@import "fonts";
@import "material";

@import "base";
@import "layout";
@import "vendor";

html,
body {
  height: 100%;
  margin: 0 auto;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $base;
  color: $on-base;
}
